.container{
    background-color: aqua;
    height: 80vh;
    padding: 20px;
}
.block{
    height: 50px;
}

.block-1{
    background-color: red;
    position: relative;
    top:25px;

}
.block-2{
    background-color: rgb(79, 45, 156);
    position: absolute;
}
.block-3{
    background-color: rgb(23, 192, 23);
    position: sticky;
    top: 0;
}